.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 942px}
.u-section-1 .u-image-1 {width: 361px; height: 361px; background-image: url("images/IMG_08273.JPG"); background-position: 50% 50%; margin: 60px auto 0}
.u-section-1 .u-text-1 {font-weight: 700; font-style: normal; width: 749px; margin: 73px auto 0}
.u-section-1 .u-text-2 {font-size: 1.875rem; width: 764px; margin: 43px auto 0}
.u-section-1 .u-line-1 {width: 912px; height: 3px; margin: 43px auto 60px 114px} 

@media (max-width: 1199px){ .u-section-1 .u-text-2 {font-weight: normal}
.u-section-1 .u-line-1 {margin-left: 28px} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {width: 720px}
.u-section-1 .u-text-2 {width: 720px}
.u-section-1 .u-line-1 {width: 720px; margin-left: 0} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {width: 540px}
.u-section-1 .u-text-2 {width: 540px}
.u-section-1 .u-line-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 951px}
.u-section-1 .u-image-1 {width: 340px; height: 340px}
.u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-text-2 {width: 340px}
.u-section-1 .u-line-1 {width: 340px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 551px}
.u-section-2 .u-text-1 {width: 740px; font-weight: 700; margin: 60px auto 0}
.u-section-2 .u-layout-wrap-1 {margin: 64px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 416px; background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-icon-1 {height: 79px; width: 79px; margin: 0 auto}
.u-section-2 .u-text-2 {font-weight: 700; width: 178px; margin: 17px auto 0}
.u-section-2 .u-text-3 {margin: 47px 16px 0}
.u-section-2 .u-btn-1 {border-style: solid; background-image: none; margin: 44px auto 0}
.u-section-2 .u-layout-cell-2 {min-height: 416px; background-image: none}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-icon-2 {height: 67px; width: 67px; margin: 0 auto}
.u-section-2 .u-text-4 {font-weight: 700; margin: 18px -2px 0 2px}
.u-section-2 .u-text-5 {margin: 22px -5px 0}
.u-section-2 .u-btn-2 {background-image: none; border-style: solid; margin: 19px auto 0 64px}
.u-section-2 .u-layout-cell-3 {min-height: 416px; background-image: none}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-icon-3 {height: 80px; width: 80px; margin: 0 auto}
.u-section-2 .u-text-6 {font-weight: 700; margin: 17px -2px 0 2px}
.u-section-2 .u-text-7 {margin: 46px 2px 0 -2px}
.u-section-2 .u-btn-3 {background-image: none; border-style: solid; margin: -6px auto 0 64px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 423px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 343px}
.u-section-2 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-cell-2 {min-height: 343px}
.u-section-2 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-5 {margin-left: 0; margin-right: 0}
.u-section-2 .u-btn-2 {margin-left: 0}
.u-section-2 .u-layout-cell-3 {min-height: 343px}
.u-section-2 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-7 {margin-left: 0; margin-right: 0}
.u-section-2 .u-btn-3 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 272px}
.u-section-2 .u-text-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-text-2 {width: 160px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 372px}
.u-section-2 .u-text-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 489px}
.u-section-3 .u-group-1 {width: 699px; min-height: 105px; margin: 0 auto}
.u-section-3 .u-container-layout-1 {padding: 30px 20px}
.u-section-3 .u-text-1 {margin-top: 6px; margin-bottom: 0; font-weight: 700}
.u-section-3 .u-layout-wrap-1 {margin: 34px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 409px}
.u-section-3 .u-container-layout-2 {padding: 30px 20px}
.u-section-3 .u-line-1 {width: 25px; transform-origin: left center 0; height: 4px; margin: 0 auto}
.u-section-3 .u-text-2 {font-weight: 700; margin: 12px 0 0}
.u-section-3 .u-text-3 {font-style: italic; background-image: none; font-size: 1rem; margin: 18px 0 0}
.u-section-3 .u-layout-cell-2 {min-height: 409px}
.u-section-3 .u-container-layout-3 {padding: 30px 20px}
.u-section-3 .u-line-2 {width: 25px; transform-origin: left center 0; height: 4px; margin: 0 auto}
.u-section-3 .u-text-4 {font-weight: 700; margin: 11px 0 0}
.u-section-3 .u-text-5 {margin: 16px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 319px}
.u-section-3 .u-container-layout-4 {padding: 30px 20px}
.u-section-3 .u-line-3 {width: 25px; transform-origin: left center 0; height: 4px; margin: 0 auto}
.u-section-3 .u-text-6 {font-weight: 700; margin: 12px -20px 0}
.u-section-3 .u-text-7 {margin: 16px 0 0}
.u-section-3 .u-layout-cell-4 {min-height: 319px}
.u-section-3 .u-container-layout-5 {padding: 30px 20px}
.u-section-3 .u-line-4 {width: 25px; transform-origin: left center 0; height: 4px; margin: 0 auto}
.u-section-3 .u-text-8 {font-weight: 700; margin: 11px -20px 0}
.u-section-3 .u-text-9 {margin: 16px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 54px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 337px}
.u-section-3 .u-layout-cell-2 {min-height: 337px}
.u-section-3 .u-text-5 {font-style: normal}
.u-section-3 .u-layout-cell-3 {min-height: 263px}
.u-section-3 .u-text-6 {margin-left: 0; margin-right: 0; font-size: 1.5rem}
.u-section-3 .u-text-7 {font-style: normal}
.u-section-3 .u-layout-cell-4 {min-height: 263px}
.u-section-3 .u-text-8 {margin-left: 0; margin-right: 0; font-size: 1.5rem}
.u-section-3 .u-text-9 {font-style: normal} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 40px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 140px}
.u-section-3 .u-group-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px} }